* {
    font-family: 'Gilroy';
}

.menu {
    max-height: 76px;
    padding-top: 14px;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    a {
        text-decoration: none;
    }
    &_list {
        display: flex;
        margin-top: 11px;
        list-style-type: none;
        &_item {
            margin-right: 40px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            color: $White;
            transition: .1s;
            &:hover {
                color: $White;
                border-bottom: 2px solid $Red;
            }
        }
    }
    &_connect {
        &_number {
            display: block;
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            color: $White;
            &:hover {
                color: $White;
            }
        }
        &_img {
            margin-right: 9px;
        }
        &_text {
            display: inline-block;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: $White;
            transition: .1s;
            &:hover {
                color: $Red;
            }
        }
    }
    &_inst {
        display: block;
        width: 48px;
        height: 48px;
        background-color: $Red;
        border-radius: 24px;
        text-align: center;
        &_img {
            transform: translateY(50%);
        }
    }
}

.main {
    max-height: 732px;
    background: url("../img/main_bg.jpg") center center/cover no-repeat;
    background-color: #584D36;
    z-index: 1;
    width: 100%;
    &_title {
        font-style: normal;
        font-weight: 600;
        font-size: 39px;
        color: $White;
        margin-top: 220px;
        span {
            border-bottom: 2px solid $Red;
        }
    }
    &_name {
        margin-top: 20px;
        font-style: normal;
        font-weight: 800;
        font-size: 70px;
        line-height: 69px;
        color: $White;
    }
    &_text {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 26px;
        margin-top: 20px;
        color: $White;
    }
    &_btn {
        text-align: center;
        width: 251px;
        height: 54px;
        left: 162px;
        background-color: $Red;
        border: none;
        border-radius: 14px;
        color: $White;
        margin-top: 20px;
        &:hover {
            box-shadow: 0px 8px 60px rgba(219, 49, 48, 0.5);
        }
        &:focus {
            box-shadow: 0px 8px 60px rgba(219, 49, 48, 0.5);
        }
        &:visited,
        &:focus,
        &:active,
        &:hover {
            outline: 0 none !important;
        }
    }
}

.types {
    background: url("../img/cards_bg.jpg") center center/cover no-repeat;
    height: 270px;
    padding-top: 40px;
    text-align: center;
    width: 100%;
    &_card {
        width: 255px;
        height: 190px;
        padding-top: 19px;
        background-color: $White;
        filter: drop-shadow(0px 20px 50px rgba(52, 48, 38, 0.6));
        border-radius: 8px;
        &_img {
            margin-bottom: 15px;
        }
        &_text {
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            color: #000;
        }
    }
}

.stages {
    min-height: 620px;
    padding: 40px 0 55px 0;
    background: url("../img/check_points.jpg") center center/cover no-repeat;
    position: relative;
    .wrap {
        display: flex;
        margin-top: 60px;
        align-items: center;
    }
    &_title {
        font-style: normal;
        font-weight: 700;
        font-size: 50px;
        color: #3D3D30;
    }
    &_img {
        width: 87px;
        height: 87px;
        margin: 0 10px 0 0;
    }
    &_block {
        // display: inline-block;
        width: 340px;
        &_title {
            font-style: normal;
            font-weight: 500;
            font-size: 25px;
            color: #3D3D30;
        }
        &_text {
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            color: #3D3D30;
        }
    }
}